In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("C:\\Users\\91930\\Documents\\archive[1]\\drug200.csv")
df.head()
df.tail()

     Age Sex      BP Cholesterol  Na_to_K   Drug
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

In [11]:
label_encoder=LabelEncoder()
one_hot=OneHotEncoder(sparse=False)

In [10]:
df['Sex']=label_encoder.fit_transform(df['Sex'])
df['BP']=label_encoder.fit_transform(df['BP'])
df['Cholesterol']=label_encoder.fit_transform(df['Cholesterol'])

In [12]:
sex=one_hot.fit_transform(df['Sex'].values.reshape(-1,1))

c:\Users\91930\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
sex_df=pd.DataFrame(sex, columns=['male','female'])

In [14]:
dff=pd.concat([df,sex_df], axis='columns')

In [15]:
dff

     Age  Sex  BP  Cholesterol  Na_to_K   Drug  male  female
0     23    0   0            0   25.355  DrugY   1.0     0.0
1     47    1   1            0   13.093  drugC   0.0     1.0
2     47    1   1            0   10.114  drugC   0.0     1.0
3     28    0   2            0    7.798  drugX   1.0     0.0
4     61    0   1            0   18.043  DrugY   1.0     0.0
..   ...  ...  ..          ...      ...    ...   ...     ...
195   56    0   1            0   11.567  drugC   1.0     0.0
196   16    1   1            0   12.006  drugC   0.0     1.0
197   52    1   2            0    9.894  drugX   0.0     1.0
198   23    1   2            1   14.020  drugX   0.0     1.0
199   40    0   1            1   11.349  drugX   1.0     0.0

[200 rows x 8 columns]

In [35]:
dff['Drug']=label_encoder.fit_transform(dff['Drug'])

In [36]:
dff

     Age  BP  Cholesterol  Na_to_K  Drug  male  female
0     23   0            0   25.355     0   1.0     0.0
1     47   1            0   13.093     3   0.0     1.0
2     47   1            0   10.114     3   0.0     1.0
3     28   2            0    7.798     4   1.0     0.0
4     61   1            0   18.043     0   1.0     0.0
..   ...  ..          ...      ...   ...   ...     ...
195   56   1            0   11.567     3   1.0     0.0
196   16   1            0   12.006     3   0.0     1.0
197   52   2            0    9.894     4   0.0     1.0
198   23   2            1   14.020     4   0.0     1.0
199   40   1            1   11.349     4   1.0     0.0

[200 rows x 7 columns]

In [38]:
x=dff.drop(['Drug'],axis='columns')

In [39]:
y=dff.Drug

In [40]:
trainX,testX,trainY,testY=train_test_split(x,y,train_size=0.8)

In [53]:
model=linear_model.LogisticRegression(max_iter=2000)

In [54]:
model.fit(trainX,trainY)

LogisticRegression(max_iter=2000)

In [55]:
model.predict(testX)

array([2, 4, 0, 4, 4, 0, 1, 4, 2, 0, 0, 2, 4, 4, 4, 2, 0, 4, 0, 4, 0, 4,
       1, 4, 0, 4, 2, 1, 0, 1, 0, 0, 4, 0, 4, 0, 4, 3, 0, 1], dtype=int64)

In [57]:
model.score(testX,testY)

0.975

In [58]:
import pickle

In [59]:
with open('drug_assignment.pkl', 'wb') as file:
    pickle.dump(dff, file)